/* Universal Styles*/

nav ul {
  background-color: #a8aaa1;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  padding: 10px;
  border-radius: 30px;
}
nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  color: black;
}
nav ul li a {
  text-decoration: none;
  color: #867627;
}

body {
  font-family: 'Eagle Lake', cursive;
  text-align: center;
  background: repeating-linear-gradient(-45deg, #e7c86a 0%, #d3a622 7.14%, #e0b942 14.28%, #e0b942 21.42%, #e0b942 28.56%, #d3a622 35.7%, #e0b942 42.84%);
}

hr {
  width: 75%;
}

/* Classes */

.tritable {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  width: 450px;
  background-color: #a8aaa1;
}
 
.line {
  text-decoration: underline;
  font-size: 30px;   
}
 
/* ID's */

#triturt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 250px;
  border-radius: 30px; 
}

/* Other */

